* {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

a,
button {
  cursor: pointer;
}

ol,
ul {
  padding-left: 0;
  list-style: none;
}

header {
  width: 100%;
  height: 80px;
  overflow-y: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #fff;
}

header .navbar {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .navbar-logo {
  height: 100%;
}

header .navbar .navbar-menu {
  width: 80%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .navbar-menu #horizontal-underline {
  position: absolute;
  background-color: #000;
  width: 0;
  height: 2px;
  -webkit-transition: .5s;
  transition: .5s;
}

header .navbar .navbar-menu li {
  position: relative;
  padding: 8px 20px 0;
}

header .navbar .navbar-menu li a {
  display: block;
  height: 40px;
  line-height: 40px;
}

header .navbar .navbar-menu li.active a {
  font-weight: 600;
}

header .navbar .navbar-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .navbar-icons li {
  padding: 8px 12px;
}

header .navbar .navbar-icons li a i {
  width: 18px;
}

header .navbar .navbar-icons li a i::before {
  font-size: 18px;
}

header .navbar .navbar-icons li:nth-of-type(2) a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .navbar-toggle {
  display: none;
}

footer {
  padding: 2% 10%;
  background-color: #fff;
  color: #000;
}

.footer-wrap .f-info .info-1 {
  margin-bottom: 27px;
}

.footer-wrap .f-info .info-1 strong {
  font-weight: 700;
}

.footer-wrap .f-info .info-2 span, .footer-wrap .f-info .info-3 span {
  padding-right: 7px;
  line-height: 180%;
  letter-spacing: 0.02em;
  font-size: 13px;
}

.footer-wrap .f-guide {
  margin-top: 15px;
}

.footer-wrap .f-guide p {
  font-size: 14px;
  margin-bottom: 12px;
}

.footer-wrap .f-guide::after {
  content: "";
  display: block;
  border: 1px solid #e8e8e8;
}

.f-guide-wrap {
  padding-top: 15px;
}

.f-guide-wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.f-guide-wrap ul li {
  padding-right: 15px;
}

.f-guide-wrap ul li a {
  font-family: "Montserrat", sans-serif;
  color: #4a4a4a;
  font-size: 12px;
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  header .navbar {
    width: 100%;
    padding: 8px 12px;
    margin: 0%;
    background-color: #fff;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header .navbar .navbar-logo {
    height: 65px;
  }
  header .navbar .navbar-logo img {
    width: 100%;
    height: 100%;
  }
  header .navbar .navbar-menu {
    display: none;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .navbar .navbar-menu #horizontal-underline {
    display: none;
  }
  header .navbar .navbar-menu li {
    width: 100%;
    text-align: center;
  }
  header .navbar .navbar-icons {
    display: none;
    width: 100%;
    height: 50px;
  }
  header .navbar .navbar-toggle {
    display: block;
    position: fixed;
    top: 3%;
    right: 5%;
    font-size: 24px;
  }
  header.active {
    height: 100%;
  }
  header.active .navbar-menu, header.active .navbar-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer {
    padding-bottom: 5%;
  }
  .footer-wrap .f-info .info-1 {
    font-size: 15px;
  }
  .f-guide-wrap {
    padding-top: 15px;
  }
  .f-guide-wrap ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .f-guide-wrap ul li {
    padding-right: 14px;
  }
  .f-guide-wrap ul li a {
    color: #4a4a4a;
    font-size: 10px;
  }
}

.content1 .menu-categorybox {
  margin: 100px 0 80px;
}

.content1 .banner {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 30px;
  color: #424242;
}

.detail-tab {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
}

.detail-tab li {
  display: inline-block;
  width: 200px;
  padding: 0 20px;
  font-size: 1.2rem;
  color: #353535;
  line-height: 15px;
}

.detail-tab li:nth-child(1) {
  border-right: 1px solid #333;
}

.detail-tab li.active {
  font-weight: 600;
}

h2 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 15px;
  font-size: 3.5rem;
  font-weight: 600;
  color: #353535;
}

.tab-content1 {
  display: none;
  width: 95%;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.tab-content1 p {
  font-size: 1.5rem;
  font-weight: 300;
}

.box-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  margin: 60px 0 80px;
}

.box-wrap .box-left, .box-wrap .box-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box-wrap figure img {
  width: 100%;
  height: 100%;
}

.box-wrap .txt-box {
  padding: 10%;
  width: 100%;
  height: 100%;
  text-align: left;
  font-weight: 300;
}

.box-wrap .txt-box h4 {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}

.box-wrap .txt-box p {
  font-size: 1.1rem;
  line-height: 1.5;
}

.tab-content2 {
  display: none;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #353535;
}

.tab-content2 span {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.tab-content2 p {
  font-size: 1.8rem;
  letter-spacing: 1.8px;
}

.tab-content2 .brand-textbox {
  width: 80%;
  margin: 50px auto 0;
  font-size: 1.2rem;
}

.active {
  display: block;
}

.mySwiper2 {
  height: 80%;
  width: 80%;
}

.mySwiper {
  width: 80%;
  height: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-wrap {
  padding: 3% 10%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .tab-content1 {
    width: 750px;
  }
  .box-wrap .box-left, .box-wrap .box-right {
    width: 50%;
  }
  .box-wrap .txt-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5%;
  }
  .box-wrap .txt-box h4 {
    margin-bottom: 10px;
  }
  .box-wrap .txt-box p {
    line-height: 1.3;
  }
  .tab-content2 .mySwiper, .tab-content2 .mySwiper2, .tab-content2 .brand-textbox {
    width: 100%;
  }
  .tab-content2 .brand-textbox {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 2rem;
  }
  .content1 .menu-categorybox {
    margin-bottom: 30px;
  }
  .content1 .menu-categorybox .detail-tab {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }
  .tab-content1 {
    width: 80%;
  }
  .tab-content1 p {
    font-size: 1.2rem;
  }
  .box-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 30px 0;
  }
  .box-wrap .box-right {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .box-wrap .txt-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .box-wrap .txt-box h4 {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  .box-wrap .txt-box p {
    font-size: 15px;
  }
  .tab-content2 p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  .tab-content2 .brand-textbox {
    margin: 30px auto;
    text-align: left;
    font-size: 1rem;
  }
  .swiper-wrap {
    padding: 0;
  }
  .mySwiper, .mySwiper2 {
    width: 100%;
  }
}
/*# sourceMappingURL=brand.css.map */