@import './common.scss';

.content1{
  .category{
    margin-top: 80px;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 100px;
    ul{
      width: 30%;
      margin: 0 auto;
      @include flexbox(space-between);
      li{
        font-weight: 100;
        a{
          display: block;
          padding: 15px 20px;
        }
      }
    }
  }
  .menu-categorybox{
    margin-bottom: 100px;
  }
  .banner{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 30px;
    color: #424242;
  }
  .menucategory{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    li{
      display: inline-block;
      line-height: 14px;
      color: #4e4e4e;
      font-weight: 100;
      border-left: 1px solid #989898;
      &:first-child{
        border-left: 0;
      }
      a{
        color: #4e4e4e;
        padding: 25px;
      }
      &.active{ font-weight: 500;}
    }
  }
}

.invisible{
  display: none;
}


.product-listmenus{
  text-align: right;
  width: 80%;
  margin: 0 auto 15px;
  li{
    display: inline-block;
    font-size: 11px;
    color: #c9c9c9;
    padding: 3px 10px;
  }
}

div{
  // position: relative;
  .prd-list{
    width: 80%;
    margin: 0 auto;
    @include flexbox(normal);
    flex-wrap: wrap;
    li{
        width: calc(100%/4);
        padding: 20px;
        height: 600px;
        // margin: 0 10px 20px 0;
        // flex: 1 1 20%;  
      figure{
        width: 100%;
        img{
          width: 100%;
          height: 100%;
        }
        p{
          text-align: center;
          margin: 20px 0;
          .heart-icon{
            padding: 8px 12px;
            i{ color: red;}
          }
          span{
            font-weight: 400;
          }
        }
        .name-title{
          color: #555;
          font-weight: 300;
          text-align: center;
          p{
            margin: 0 0 10px 0;
            font-size: 12px;
          }
          strong{
            display: inline-block;
            width: 100%;
            text-align: center;
            color: #000;
            font-weight: 800;
          }
          span:nth-of-type(2){
            font-size: 12px;
          }
        }
      }
      &:nth-of-type(4), &:nth-of-type(8){
        margin-right: 0;
      }
    }
  }
  
}

.popup{
  width: 100%;
  height: 100vh;
  // position: fixed;
  @include pos-center;
  @include flexbox;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  display: none;
  .modal{
    width: 80%;
    margin: 0 auto;
    background: #fff;
    .row1{
      @include flexbox(space-between);
      padding: 5%;
      .product{
        .detail{
          width: 500px;
          height: 500px;
          object-fit: cover;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .img-list{
          @include flexbox(flex-start);
          margin-top: 30px;
          li{
            margin-right: 10px;
            figure{
              width: 80px;
              height: 80px;
              img{
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
      .product-info{
        width: 55%;
        h2{
          margin-bottom: 50px;
        }
        table{
          margin-top: 20px;
          margin-bottom: 40px;
          th{
            width: 120px;
            text-align: left;
            vertical-align: middle;
          }
          td{
            padding-top: 10px;
            padding-bottom: 15px;
            border-bottom: 1px dotted #dcdcdc;
            span{
              color: #555555
            }
          }
        }

        .product-btns{
          @include flexbox;
          div{
            a{
              display: inline-block;
              width: 150px;
              height: 70px;
              background: #fff;
              padding: 10%;
              text-align: center;
              border: 1px solid #d1d1d1;
              i{
                font-size: 20px;
                vertical-align: -webkit-baseline-middle;
              }
              .fa-heart{
                color: red;
              }
              &:hover{
                opacity: 0.8;
                transition: all 0.4s ease-out;
                background-color: #f3f3f3;
              }
            }
            &:nth-of-type(1){
              a{
                width: 230px;
                color: #fff;
                background-color: #000;
                &:hover{
                  background-color: #212121;
                }
              }
            }    
          }

        }
      }
    }
  }
}

