$font-main: 'Noto Sans KR', sans-serif;;
$font-con: 'Montserrat', sans-serif;

* {
  margin: 0;
  font-family: $font-main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  font-family: $font-main;
  font-size: 16px;
}

body {
  font-family: $font-main;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

a,
button {
  cursor: pointer;
}

ol,
ul{
  padding-left: 0;
  list-style: none;
}

@mixin flexbox($jc: center, $ai: center){
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

@mixin inline-flexbox($jc: center, $ai: center){
  display: inline-flex;
  justify-content: $jc;
  align-items: $ai;
}

@mixin column-flexbox($jc: center, $ai: center){
  display: flex;
  flex-direction: column;
  justify-content: $jc;
  align-items: $ai;
}

@mixin pos-center($type: absolute) {
  @if ($type == absolute or $type == fixed) {
    position: $type;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}



//헤더
header{
  width: 100%;
  height: 80px;
  overflow-y: hidden;
  transition: .5s;
  // color: #fff;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #fff;
  
  .navbar{
    width: 80%;
    margin: 0 auto;
    height: 100%;
    // border-bottom: 1px solid #f5f5f5;
    @include flexbox(space-between, center);
    .navbar-logo{
      // width: 10%;
      height: 100%;
    }
    .navbar-menu{
      width: 80%;
      position: relative;
      @include flexbox;
      #horizontal-underline{
        position: absolute;
        // top: 0; left: 0;
        background-color: #000;
        width: 0;
        height: 2px;
        transition: .5s;
      }
      li{
        position: relative;
        padding: 8px 20px 0;
        a{
          display: block;
          height: 40px;
          line-height: 40px;
        }
        &.active{
          a{
            font-weight: 600
            // color: #d03524
          }
        }  
      }
    }
    .navbar-icons{
      // width: 15%;
      @include flexbox;
      li{
        padding: 8px 12px;
        a{
          i{
            width: 18px;
            &::before{
              font-size: 18px;
            }
          }
        }
        &:nth-of-type(2){
          a{
            @include flexbox;
          }
        }  
      }
    }
    .navbar-toggle{
      display: none;
    }
  }
}


//푸터
footer{
  padding: 2% 10%;
  background-color: #fff;
  color: #000;
}

.footer-wrap{
  .f-info{
    .info-1{
      // font-size: 14px;
      margin-bottom: 27px;
      strong{
        font-weight: 700
      };
    }
    .info-2, .info-3{
      // color: #969696;
      span{
        padding-right: 7px;
        // color: #969696;
        line-height: 180%;
        letter-spacing: 0.02em;
        font-size: 13px;
      }
    }
  }

  .f-guide{
    margin-top: 15px;
    p{
      // color: #969696;
      font-size: 14px;
      margin-bottom: 12px;
    }
    &::after{
      content: "";
      display: block;
      border: 1px solid #e8e8e8;
    }
  }
}

.f-guide-wrap{
  padding-top: 15px;
  ul{
    @include flexbox(flex-start, center);
    li{
      padding-right: 15px;
      a{
        font-family: $font-con;
        // color: #e1a87a;
        color: #4a4a4a;
        font-size: 12px;
        text-decoration: underline;
      }
    }
  }
}


//테블릿
@media screen and (min-width: 768px) and (max-width:1023px){
}


//모바일
@media screen and (max-width: 767px){
  header{
    // height: 100%;
    .navbar{
      width: 100%;
      padding: 8px 12px;
      margin: 0%;
      background-color: #fff;
      position: relative;
      flex-direction: column;
      align-items: flex-start;
      .navbar-logo{
        height: 65px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .navbar-menu{
        display: none;
        #horizontal-underline{
          display: none
        }
        width: 100%;
        flex-direction: column;
        align-items: center;
        li{
          width: 100%;
          text-align: center;
        }
      }

      .navbar-icons{
        display: none;
        width: 100%;
        height: 50px;
      }
      .navbar-toggle{
        display: block;
        position: fixed;
        top: 3%;
        right: 5%;
        font-size: 24px;
      }

    }
    &.active{
      height: 100%;
      .navbar-menu, .navbar-icons{
        display: flex;
      }
    }
  
  }

  // 푸터
  footer{ padding-bottom: 5%;}
  .footer-wrap{
    .f-info{
      .info-1{ font-size: 15px;}
    }
  } 
  .f-guide-wrap{
    padding-top: 15px;
    ul{
      @include flexbox(flex-start, center);
      li{
        padding-right: 14px;
        a{
          color: #4a4a4a;
          font-size: 10px;
        }
      }
    }
  }
  

}
