@import './common.scss';

// body{
//   overflow: hidden;
// }

header{
  color: #fff;
  background-color: transparent;
}
main{
  height: 100%;
  overflow: hidden;
}
section{
    background-color: #000;
    color: #fff;
  // background-color: #f3f3f3;
}
.content1{
  position: relative;
  .main-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  .slick-slide{
    width: 100%;
    height: 902px;
  }
  .text-wrap{
    @include pos-center;
    color: #fff;
    text-align: center;
    h2{
      font-family: $font-con;
      font-size: 2.7rem;
      letter-spacing: 2px;
      line-height: 1.3;
      color: inherit;
      margin-bottom: 70px;
    }
    p{
      font-weight: 200;
      margin-bottom: 40px;
    }
    span{
      display: inline-block;
      font-family: $font-con;
      font-weight: 500;
      font-size: 13px;
      letter-spacing: 1px;
      color: #000;
      background-color: #fff;
      padding: 10px 12px;
      transition: .5s;
      a{
        padding: 10px 15px;
      }
      &:hover{
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
      }
    }
  }
}

.content2{
  padding: 10% 10% 15%;
  .about{
    margin-bottom: 70px;
    h2{
      width: 80%;
      margin: 0 auto;
      font-family: $font-con;
      font-size: 3rem;
      text-align: center;
      margin-bottom: 80px
    }
    ul{
      @include flexbox;
      li{
        width: calc(100% / 3);
        height: 650px;
        margin-right: 20px;
        object-fit: cover;
        div{
          width: 100%;
          height: 450px;
          position: relative;
          transition: all 1s ease-out;
          object-fit: cover;
            img{
              width: 100%;
              height: 100%;
            }
          &:hover:before{
            content: '';
            background: url(https://maximplant.co.kr/web/upload/unfold_design119/plus.svg)no-repeat;
            width: 80px;
            height: 80px;
            @include pos-center;
            color: #fff;
            z-index: 2;
          }
          &:hover:after{
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            text-align: center;
            color: #fff;
            font-size: 3rem;
            font-weight: 100;
            background-color: rgba(0, 0, 0, 0.3);
            transition: all 5s ease-out;
          }  
        }
        &:nth-of-type(3){
          margin-right: 0;
        }
        span{
          display: inline-block;
          font-family: $font-con;
          font-size: 1.5rem;
          margin: 40px 0 20px;
        }
        p{
          font-size: 1rem;
          padding-bottom: 5px;
        }
      }
    }
  }

  .brand{
    height: 1200px;
    position: relative;
    // border: 1px solid;
      .b-about1{
        position: absolute;
        width: 855px;
        height: 580px;
        transform: translate3d(0px, 0px, 0px);
      }
      .b-about2{
        position: absolute;
        width: 630px;
        height: 290px;
        transform: translate3d(887px, 0px, 0px)
      }
      .b-about3{
        position: absolute;
        width: 630px;
        height: 270px;
        transform: translate3d(887px, 310px, 0px);
      }
      .b-about4{
        position: absolute;
        width: 780px;
        height: 585px;
        transform: translate3d(0px, 612px, 0px);
      }
      .b-about5{
        position: absolute;
        width: 700px;
        height: 585px;
        transform: translate3d(817px, 612px, 0px);
      }
    img{
      width: 100%;
      height: 100%;
    }
  }
}

.content3{
  height: 800px;
  background: #000 url(../img/coffee-3.jpg) no-repeat center  center
  fixed;
  @include flexbox;
  .in-wrap{
    width: 80%;
    // padding: 5% 10%;
    // @include flexbox(space-between, center);
    .in-1{
      width: 50%;
      // margin-right: 5%;
      position: relative;
      left: 0;
      animation: slide 1s ease-out;
      // color: #fff;
      h2{
        font-family: $font-con;
        font-size: 3rem;
        font-weight: 900;
        margin-bottom: 30px;
      }
      p{
        font-size: 1.2rem;
        line-height: 1.5;
        strong{
          display: inline-block;
          margin-top: 10px;
        }
      }
      span{
        font-family: $font-con;
        display: inline-block;
        margin-top: 3%;
        padding: 8px 12px;
        border: 1px solid #000;
        transition: .5s;
        a{
          padding: 10px 15px;
        }
        &:hover{
          background-color: #000;
          color: #c19b61;
        }
      }
    }

    .in-img{
      display: none;
      width: 40%;
      height: 400px;
      object-fit: cover;
      img{
        width: 100%;
        height: 100%;
      }  
    }
  }
}

.content4{
  padding: 5% 0 10%;
  h2{
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
    span{
      font-family: $font-con;
      font-size: 2.3rem;
      font-weight: 300;
      &::before{
        content: "";
        display: block;
        width: 35px;
        border: 4px solid #c19b61;
        margin: 0 auto 5px;
      }  
    }
  }
  ul{
    width: 80%;
    margin: 0 auto;
    @include flexbox;
    flex-wrap: wrap;
    li{
      width: calc(100% / 3);
      margin: 0 20px 20px 0;
      flex: 1 1 30%;
      img{
        width: 100%;
        height: 100%;
      }
      &:nth-of-type(3), &:nth-of-type(6){
        margin-right: 0;
      }
    }
  }
}

.content5{
  padding-bottom: 10%;
  // padding: 5% 0 10%;
  .feed-wrap{
    h2{
      text-align: center;
      margin-bottom: 10px;
      font-family: $font-con;
      font-size: 2.2rem;
      color: #fff;
    }
    p{
      text-align: center;
      margin-bottom: 70px;
      color: #c19b61;
    }
    .feed{
      width: 80%;
      margin: 0 auto;
      @include flexbox;
      flex-wrap: wrap;  
      li{
        width: calc(100%/6);
        margin-right: 20px;
        overflow: hidden;
        transition: .5s;
        a{
          figure{
            img{
              width: 100%;
              height: 100%;
            }
          }
        }
        :hover{
          transform: scale(1.1);
        }
      }
    }
  }
}

footer{
  padding: 2% 10%;
  background-color: #000;
  color: #fff;
}

.footer-wrap{
  .f-info{
    .info-1{
      // font-size: 14px;
      margin-bottom: 27px;
      strong{
        font-weight: 700
      };
    }
    .info-2, .info-3{
      // color: #969696;
      span{
        padding-right: 7px;
        // color: #969696;
        line-height: 180%;
        letter-spacing: 0.02em;
        font-size: 13px;
      }
    }
  }

  .f-guide{
    margin-top: 15px;
    p{
      // color: #969696;
      font-size: 14px;
      margin-bottom: 12px;
    }
    &::after{
      content: "";
      display: block;
      border: 1px solid #e8e8e8;
    }
  }
}

.f-guide-wrap{
  padding-top: 15px;
  ul{
    @include flexbox(flex-start, center);
    li{
      padding-right: 15px;
      a{
        font-family: $font-con;
        color: #e1a87a;
        // color: #4a4a4a;
        font-size: 12px;
        text-decoration: underline;
      }
    }
  }
}

@keyframes slide{
  from{
    left: -30%;
    opacity: 0;
  }
  to{
    left: 0;
    opacity: 1;
  }
}
@keyframes invisible{
  from{
    left: 0;
    opacity: 1;
  }
  to{
    left: -30%;
    opacity: 0;
  }
}
