@import './common.scss';

// body{
//   overflow: hidden;
// }


header{
  color: #fff;
  background-color: transparent;
  .navbar{
    .navbar-logo{background-image: url('../img/main-logo2.png');}
    .navbar-menu{
      #horizontal-underline{ background-color: #fff;}
    }
  }
}

main{
  height: 100%;
  overflow: hidden;
}
section{
    background-color: #000;
    color: #fff;
  // background-color: #f3f3f3;
}
.content1{
  position: relative;
  .main-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  .slick-slide{
    width: 100%;
    height: 100vh;
  }
  .text-wrap{
    @include pos-center;
    color: #fff;
    text-align: center;
    h2{
      font-family: $font-con;
      font-size: 2.7rem;
      letter-spacing: 2px;
      line-height: 1.3;
      color: inherit;
      margin-bottom: 70px;
    }
    p{
      font-weight: 200;
      margin-bottom: 40px;
    }
    span{
      display: inline-block;
      font-family: $font-con;
      font-weight: 500;
      font-size: 13px;
      letter-spacing: 1px;
      color: #000;
      background-color: #fff;
      padding: 10px 12px;
      transition: .5s;
      a{
        padding: 10px 15px;
      }
      &:hover{
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
      }
    }
  }
}

.content2{
  padding: 10% 10% 15%;
  .about{
    margin-bottom: 70px;
    h2{
      width: 80%;
      margin: 0 auto;
      font-family: $font-con;
      font-size: 3rem;
      text-align: center;
      margin-bottom: 80px
    }
    ul{
      @include flexbox;
      li{
        width: calc(100% / 3);
        height: 650px;
        margin-right: 20px;
        object-fit: cover;
        div{
          width: 100%;
          height: 450px;
          position: relative;
          transition: all 1s ease-out;
          object-fit: cover;
            img{
              width: 100%;
              height: 100%;
            }
          &:hover:before{
            content: '';
            background: url(https://maximplant.co.kr/web/upload/unfold_design119/plus.svg)no-repeat;
            width: 80px;
            height: 80px;
            @include pos-center;
            color: #fff;
            z-index: 2;
          }
          &:hover:after{
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            text-align: center;
            color: #fff;
            font-size: 3rem;
            font-weight: 100;
            background-color: rgba(0, 0, 0, 0.3);
            transition: all 5s ease-out;
          }  
        }
        &:nth-of-type(3){
          margin-right: 0;
        }
        span{
          display: inline-block;
          font-family: $font-con;
          font-size: 1.5rem;
          margin: 40px 0 20px;
        }
        p{
          font-size: 1rem;
          padding-bottom: 5px;
        }
      }
    }
  }


  .brand{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 1rem;
    div{
      &:nth-child(1){
        grid-row: 1/3;
        grid-column: 1/3;
      }
      &:nth-child(5){
        grid-column: 2/4;
      }
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
}

.content3{
  height: 800px;
  background: #000 url(../img/coffee-3.jpg) no-repeat center center
  fixed;
  // background-size:100%;
  // background-size: auto 100%;
  // @include flexbox;
  .in-wrap{
    width: 80%;
    height: 100%;
    @include flexbox(normal);
    // padding: 5% 10%;
    // @include flexbox(space-between, center);
    .in-1{
      width: 50%;
      // margin-right: 5%;
      position: relative;
      left: 5%;
      animation: slide 1s ease-out;
      // color: #fff;
      h2{
        font-family: $font-con;
        font-size: 3rem;
        font-weight: 900;
        margin-bottom: 30px;
      }
      p{
        font-size: 1.2rem;
        line-height: 1.5;
        strong{
          display: inline-block;
          margin-top: 10px;
        }
      }
      span{
        font-family: $font-con;
        display: inline-block;
        margin-top: 3%;
        padding: 8px 12px;
        border: 1px solid #000;
        transition: .5s;
        a{
          padding: 10px 15px;
        }
        &:hover{
          background-color: #000;
          color: #c19b61;
        }
      }
    }

    .in-img{
      display: none;
      width: 40%;
      height: 400px;
      object-fit: cover;
      img{
        width: 100%;
        height: 100%;
      }  
    }
  }
}

.content4{
  padding: 5% 0 10%;
  h2{
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
    span{
      font-family: $font-con;
      font-size: 2.3rem;
      font-weight: 300;
      &::before{
        content: "";
        display: block;
        width: 35px;
        border: 4px solid #c19b61;
        margin: 0 auto 5px;
      }  
    }
  }
  ul{
    width: 80%;
    margin: 0 auto;
    @include flexbox;
    flex-wrap: wrap;
    li{
      width: calc(100% / 3);
      margin: 0 20px 20px 0;
      flex: 1 1 30%;
      img{
        width: 100%;
        height: 100%;
      }
      &:nth-of-type(3), &:nth-of-type(6){
        margin-right: 0;
      }
    }
  }
}

.content5{
  padding-bottom: 10%;
  // padding: 5% 0 10%;
  .feed-wrap{
    h2{
      text-align: center;
      margin-bottom: 10px;
      font-family: $font-con;
      font-size: 2.2rem;
      color: #fff;
    }
    p{
      text-align: center;
      margin-bottom: 70px;
      color: #c19b61;
    }
    .feed{
      width: 80%;
      margin: 0 auto;
      @include flexbox;
      flex-wrap: wrap;  
      li{
        width: calc(100%/6);
        margin-right: 20px;
        overflow: hidden;
        transition: .5s;
        a{
          figure{
            img{
              width: 100%;
              height: 100%;
            }
          }
        }
        :hover{
          transform: scale(1.1);
        }
      }
    }
  }
}

footer{
  background-color: #000;
  color: #fff;
}
.f-guide-wrap{
      ul{
        li{
          a{ color: #e1a87a;}
        }
      }
}


@keyframes slide{
  from{
    left: -30%;
    opacity: 0;
  }
  to{
    left: 5%;
    opacity: 1;
  }
}
@keyframes invisible{
  from{
    left: 5%;
    opacity: 1;
  }
  to{
    left: -30%;
    opacity: 0;
  }
}




//테블릿
@media screen and (min-width: 768px) and (max-width:1023px){
  .content1{
    .text-wrap {
      h2{
        font-size: 2.5rem;
        margin-bottom: 50px;
      }
    }
  }
  .content2{
    .about{
      h2{width: 100%;}
      ul{
        flex-wrap: wrap;
        li{
          width: 100%;
          margin: 0 auto;
          margin-bottom: 30px;
          &:nth-of-type(3){
            margin-right: auto;
          }
          span{font-size: 1.8rem;}
          p{font-size: 1.2rem;}
        }
      }
    }
  }
  .content3{
    height: 700px;
    background: #000 url(../img/coffee-3.jpg) no-repeat center  center;
    background-size: 100%;
    .in-wrap{
      .in-1{
        h2{
          font-size: 1.8rem;
        }
        p{ font-size: 1rem;}
      }
    }
  }
}


// 모바일
@media screen and (max-width: 767px){
  header{
      // background-color: transparent;
    .navbar{
      background-color: transparent;
    }
  }
  &.active{
    background-color: #000;
  }
  .content1{
    .text-wrap{
      width: 100%;
      h2{
        font-size: 1.5rem;
        margin-bottom: 30px;
      }
      p{ 
        margin-bottom: 30px;
        font-size: 15px;
      }
    } 
  }
  .content2{
    .about{
      margin-bottom: 50px;
      h2{
        width: 100%;
        margin-bottom: 30px;
        font-size: 1.5rem;
      }
      ul{
        flex-direction: column;
        li{
          width: 100%;
          height: 100%;
          margin-right: 0;
          margin-bottom: 20px;
          span{
            margin: 30px 0 20px;
          }
          p{
            font-size: 15px;
            padding-bottom: 10px;
          }
          &:nth-last-child(1){
            margin-bottom: 0;
          }
        }
      }
    }
    .brand{
      div{
        grid-column: 1/4;;
        &:nth-child(1){
          grid-column: 1/4;
        }
        &:nth-child(5){
          grid-column: 1/4;
        }
      }
  
    }
  } 

  .content3{
    height: 700px;
    background: #000 url(../img/coffee-6.jpg) no-repeat center  center;
    background-size: contain;
    .in-wrap{
      // display: block;
      width: 100%;
      .in-1{
        width: 70%;
        h2{
          font-size: 1.8rem;
        }
        p{ font-size: 1.1rem;}
        span{margin-top: 4%;}
      }
    }
  } 
  .content4{
    ul{
      width: 100%;
      li{
        margin: 0 20px 20px;
        flex: 1 1  auto;
        &:nth-of-type(2n+1){
          margin-right: 0;
        }
        &:nth-last-of-type(1){ margin-right: 20px;}
      }
    }
  }
  .content5{
    padding: 10%;
    .feed-wrap{
      h2{
        font-size: 1.8rem;
        margin-bottom: 20px;
      }
      p{
        margin-bottom: 40px;
      }
      .feed{
        width: 100%;
        li{
          width: 100%;
          margin-right: 0;
          margin-bottom: 30px;
        }
      }
    }
  }
}
