* {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

a,
button {
  cursor: pointer;
}

ol,
ul {
  padding-left: 0;
  list-style: none;
}

header {
  width: 100%;
  height: 80px;
  overflow-y: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #fff;
}

header .navbar {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .navbar-logo {
  height: 100%;
}

header .navbar .navbar-menu {
  width: 80%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .navbar-menu #horizontal-underline {
  position: absolute;
  background-color: #000;
  width: 0;
  height: 2px;
  -webkit-transition: .5s;
  transition: .5s;
}

header .navbar .navbar-menu li {
  position: relative;
  padding: 8px 20px 0;
}

header .navbar .navbar-menu li a {
  display: block;
  height: 40px;
  line-height: 40px;
}

header .navbar .navbar-menu li.active a {
  font-weight: 600;
}

header .navbar .navbar-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .navbar-icons li {
  padding: 8px 12px;
}

header .navbar .navbar-icons li a i {
  width: 18px;
}

header .navbar .navbar-icons li a i::before {
  font-size: 18px;
}

header .navbar .navbar-icons li:nth-of-type(2) a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .navbar-toggle {
  display: none;
}

footer {
  padding: 2% 10%;
  background-color: #fff;
  color: #000;
}

.footer-wrap .f-info .info-1 {
  margin-bottom: 27px;
}

.footer-wrap .f-info .info-1 strong {
  font-weight: 700;
}

.footer-wrap .f-info .info-2 span, .footer-wrap .f-info .info-3 span {
  padding-right: 7px;
  line-height: 180%;
  letter-spacing: 0.02em;
  font-size: 13px;
}

.footer-wrap .f-guide {
  margin-top: 15px;
}

.footer-wrap .f-guide p {
  font-size: 14px;
  margin-bottom: 12px;
}

.footer-wrap .f-guide::after {
  content: "";
  display: block;
  border: 1px solid #e8e8e8;
}

.f-guide-wrap {
  padding-top: 15px;
}

.f-guide-wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.f-guide-wrap ul li {
  padding-right: 15px;
}

.f-guide-wrap ul li a {
  font-family: "Montserrat", sans-serif;
  color: #4a4a4a;
  font-size: 12px;
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  header .navbar {
    width: 100%;
    padding: 8px 12px;
    margin: 0%;
    background-color: #fff;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header .navbar .navbar-logo {
    height: 65px;
  }
  header .navbar .navbar-logo img {
    width: 100%;
    height: 100%;
  }
  header .navbar .navbar-menu {
    display: none;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .navbar .navbar-menu #horizontal-underline {
    display: none;
  }
  header .navbar .navbar-menu li {
    width: 100%;
    text-align: center;
  }
  header .navbar .navbar-icons {
    display: none;
    width: 100%;
    height: 50px;
  }
  header .navbar .navbar-toggle {
    display: block;
    position: fixed;
    top: 3%;
    right: 5%;
    font-size: 24px;
  }
  header.active {
    height: 100%;
  }
  header.active .navbar-menu, header.active .navbar-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer {
    padding-bottom: 5%;
  }
  .footer-wrap .f-info .info-1 {
    font-size: 15px;
  }
  .f-guide-wrap {
    padding-top: 15px;
  }
  .f-guide-wrap ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .f-guide-wrap ul li {
    padding-right: 14px;
  }
  .f-guide-wrap ul li a {
    color: #4a4a4a;
    font-size: 10px;
  }
}

section {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section h2 {
  margin-bottom: 50px;
  font-size: 2rem;
}

section form {
  width: 470px;
  margin: 0 auto;
}

section form input {
  width: 100%;
  height: 50px;
  font-size: 1rem;
  border: 1px solid #d9d9d9;
  padding-left: 10px;
}

section form input:first-child {
  margin-bottom: 10px;
}

section form button {
  width: 100%;
  height: 60px;
  font-size: 1.2rem;
  border: 1px solid #d9d9d9;
}

section form button a {
  padding: 15px 30px;
}

section form #login-btn {
  margin: 30px 0 20px;
  background-color: #000;
  color: #fff;
}

section form #join-btn {
  background-color: #ece9e9;
}

@media screen and (max-width: 767px) {
  section h2 {
    margin-bottom: 20px;
  }
  section form {
    width: 70%;
  }
  section form #login-btn {
    margin-bottom: 15px;
  }
}
/*# sourceMappingURL=join.css.map */