@import './common.scss';

section{
  width: 100%;
  height: 100vh;
  @include column-flexbox;
  h2{
    margin-bottom: 50px;
    font-size: 2rem;
  }
  form{
    width: 470px;
    // width: 25%;
    margin: 0 auto;
    input{
      width: 100%;
      height: 50px;
      font-size: 1rem;
      border: 1px solid #d9d9d9;
      padding-left: 10px;
      &:first-child{
        margin-bottom: 10px;
      }
    }
    button{
      width: 100%;
      height: 60px;
      font-size: 1.2rem;
      border: 1px solid #d9d9d9;
      a{
        padding: 15px 30px;
      }
    }
    #login-btn{
      margin: 30px 0 20px;
      background-color: #000;
      color: #fff;
    }
    #join-btn{
      background-color: #ece9e9;
    }
  }
}


@media screen and (max-width: 767px){
  section{
    h2{
      margin-bottom: 20px;
    }
    form{
      width: 70%;
      #login-btn{
        margin-bottom: 15px;
      }
    }
  }
}
