@import './common.scss';
.content1{
  .category{
    margin-top: 80px;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 100px;
    ul{
      width: 30%;
      margin: 0 auto;
      @include flexbox(space-between);
      li{
        font-weight: 100;
        a{
          display: block;
          padding: 15px 20px;
        }
      }
    }
  }
  .menu-categorybox{
    margin-bottom: 100px;
  }
  .banner{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 30px;
    color: #424242;
  }
  .menucategory{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    li{
      display: inline-block;
      line-height: 14px;
      color: #4e4e4e;
      font-weight: 100;
      border-left: 1px solid #989898;
      &:first-child{
        border-left: 0;
      }
      a{
        color: #4e4e4e;
        padding: 25px;
      }
    }
  }
}

.invisible{
  display: none;
}


.product-listmenus{
  text-align: right;
  width: 80%;
  margin: 0 auto 15px;
  li{
    display: inline-block;
    font-size: 11px;
    color: #c9c9c9;
    padding: 3px 10px;
  }
}

.prd-list{
  ul{
    width: 80%;
    margin: 0 auto;
    @include flexbox(normal);
    flex-wrap: wrap;
    li{
        width: calc(100%/4);
        padding: 20px;
        height: 600px;
        // margin: 0 10px 20px 0;
        // flex: 1 1 20%;  
      figure{
        width: 100%;
        img{
          width: 100%;
          height: 100%;
        }
        p{
          text-align: center;
          margin: 20px 0;
          span{
            font-weight: 400;
            &:first-child{ 
              margin-right: 15px;
              i{ color: red;}
            }
          }
        }
        .name-title{
          color: #555;
          font-weight: 300;
          text-align: center;
          p{
            margin: 0 0 10px 0;
            font-size: 12px;
          }
          strong{
            display: inline-block;
            width: 100%;
            text-align: center;
            color: #000;
            font-weight: 800;
          }
          span:nth-of-type(2){
            font-size: 12px;
          }
        }
      }
      &:nth-of-type(4), &:nth-of-type(8){
        margin-right: 0;
      }
    }
  }
}

